@font-face {
    font-family:m-reg;
    src: url(../../fonts/static/Montserrat-Regular.ttf);
}
@font-face {
    font-family:m-bold;
    src: url(../../fonts/static/Montserrat-Bold.ttf);
}
@font-face {
    font-family:abril;
    src: url(../../fonts/AbrilFatface-Regular.ttf);
}
