.app-header{
    height: 70px;
    background-color:$clr13;
    margin-block-end: 25px;
    box-shadow: 0px 0px 8px 3px $clr3;
    .main-header{
        font-family: abril;
        font-size: 32px;
        div {
            color: $clr4;

        }
        align-items: center;
        .logo {
            width: 40px;
            height: 40px;
            margin-inline-end: 25px;
        }
        
    }
}