.email-preview-container {
    justify-content: space-around;
    .email-preview {
        border: 1px solid $clr9;
        border-radius: 5px;
        width: 250px;
        justify-content:left;
        margin-block-end: 15px;
        padding: 15px;
        // text-overflow: ellipsis;
        // white-space: nowrap;
        // overflow: hidden;
        .email-address {
            // width: 200px;
            margin-block-end: 8px;
        }
    }
    img {
        height: 60px;
        width: 60px;
        border-radius: 2px;
        margin-inline-end: 10px;
    }
}
.address-and-content {
        flex-direction: column;
}